.about {
    text-align: center; /* Centers text within the section */
    padding: 2rem; /* Adds space around the content */
    margin-top: -1rem;
}

.about h2 {
    margin: 0; /* Removes default margin from h2 */
    font-size: 2rem; /* Sets font size relative to the root font size */
}

.about p {
    margin: 0 auto; /* Centers the paragraph */
    max-width: 80%; /* Limits the width of the paragraph to 80% of the container */
}

@media (max-width: 600px) {
    .about h2 {
        font-size: 1.5rem; /* Adjusts font size for smaller screens */
    }

    .about p {
        font-size: 0.875rem; /* Adjusts font size for smaller screens */
        max-width: 90%; /* Adjusts width for smaller screens */
    }
}
