/* Custom Carousel Container */
section.custom-carousel-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 6.5rem;
  padding: 0;
}

/* Blue Section Styling */
section.custom-carousel-container .blue-section {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(57, 73, 171, 0.8);
  padding: 1rem;
  width: 20rem;
  height: 15rem;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Responsive margin for smaller screens */
@media (max-width: 768px) {
  section.custom-carousel-container {
    margin-top: 6.2rem; /* Reduce margin-top on medium screens */
  }
}

@media (max-width: 480px) {
  section.custom-carousel-container {
    margin-top: 6.2rem; /* Further reduce margin-top on small screens */

  }
}

/* Responsive Blue Section for Small Screens */
@media (max-width: 768px) {
  section.custom-carousel-container .blue-section {
    width: 50%;  /* Reduce width to 70% of the container */
    height: auto; /* Make the height automatic to adapt with the content */
    padding: 0.8rem; /* Reduce padding slightly */
    bottom: 0.5rem;  /* Adjust positioning for smaller screens */
    left: 0.5rem;    /* Adjust positioning for smaller screens */
  }

  section.custom-carousel-container .blue-section h3 {
    font-size: 1.2rem; /* Reduce font size for smaller screens */
  }

  section.custom-carousel-container .blue-section a {
    font-size: 1rem; /* Adjust link font size */
  }
}

@media (max-width: 480px) {
  section.custom-carousel-container .blue-section {
    width: 50%; /* Even smaller width for extra small screens */
    padding: 0.5rem; /* Smaller padding */
    left: 0.5rem;
    bottom: 0.5rem;
  }

  section.custom-carousel-container .blue-section h3 {
    font-size: 1rem; /* Further reduce font size */
  }

  section.custom-carousel-container .blue-section a {
    font-size: 0.9rem; /* Adjust link font size */
  }
}


/* Owl Carousel Navigation Styling */
.owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
  display: none;
  justify-content: space-between;
  transform: translateY(100%);
}



