.hot-deals-section {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: #ffffff; */
    padding: 2rem 0;
    overflow: hidden;
}

.hot-deals-heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #000;
}

.hot-deal-slider {
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
    animation: slide-continuous-reverse 50s linear infinite; /* Reverse sliding effect */
}

.hot-deal-container {
    flex: 0 0 12.5%;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    background-color: #fff;
    margin: 0 1%;
    border-radius: 0.625rem; /* 10px = 0.625rem */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* 0.5rem = 8px, 1rem = 16px */
    height: 31.25rem; /* 500px = 31.25rem */
    overflow: hidden;
    padding-bottom: 1.25rem; /* 20px = 1.25rem */
}

.hot-deal-container img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border: none;
    margin-bottom: 0;
}

.hot-deal-content {
    padding: 1rem;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    min-height: 30%;
}

.hot-deal-title, .hot-deal-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hot-deal-title {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0.5rem;
}

.hot-deal-info {
    font-size: 1rem;
    color: #000;
    margin-bottom: 0.3rem;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.hot-deal-details-container {
    text-align: absolute;
    margin-top: 1.25rem; /* 20px = 1.25rem */
}

.hot-deal-details-container a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.hot-deal-details-container a:hover {
    color: green;
}

/* Reverse continuous sliding effect */
@keyframes slide-continuous-reverse {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* Clone the slider content for an infinite loop */
.hot-deal-slider::after {
    content: '';
    display: block;
    flex: 0 0 12.5%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hot-deal-container {
        flex: 0 0 100%;
        margin-bottom: 1rem;
    }

    .hot-deal-slider {
        width: 100%;
        animation: none;
    }
}
