.blogsContainer {
  padding: 2rem;
  text-align: center;
}

.blogsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.blogCard {
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: transform 0.2s;
  text-align: center;
  background-color: #fff;
}

.blogCard:hover {
  transform: scale(1.05);
}

.blogImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.blogLink {
  transition: color 0.3s ease;
}

.blogLink:hover {
  color: #007bff;
}