.blogSection {
  padding: 50px 20px;
  background-color: #ffffff;
  margin-top: 7rem;
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Adjust grid layout for smaller screens */
@media (max-width: 768px) {
  .blogGrid {
    grid-template-columns: 1fr; /* Stack blog posts vertically */
  }
}

.blogPost {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.blogPost:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.blogExcerpt {
  color: #333;
  margin-bottom: 15px;
}

.readMore {
  color: red;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.readMore:hover {
  color: green;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.popupContent .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
