.diasporaSection {
  padding: 1vw 2vw;
  max-width: 80%;
  margin: 0 auto;
}

.diasporaContent {
  background-color: #ffffff;
  padding: 4vw;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.relationshipManager {
  color: #555;
  font-style: italic;
  margin-top: 3vw;
  text-align: center;
}

.ctaLink {
  display: inline-flex;
  align-items: center;
  padding: 1.2vw 2vw;
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  border: none;
  border-radius: 0.5vw;
  margin-top: 2vw;
  font-weight: bold;
}

.ctaLink::after {
  content: '\2192';
  margin-left: 1vw;
  font-size: 1.5rem;
}

.ctaLink:hover {
  color: green;
}
