* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
section {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  word-wrap: break-word;
}
body {
  overflow-x: hidden;
  width: 100%;
}
iframe,
img,
video {
  max-width: 100%;
  height: auto;
}
div {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
section.background-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  overflow: hidden;
}
section.background-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
  color: blue;
  margin-bottom: 1rem;
}
/* Override font sizes for small screens */
@media (max-width: 768px) {
  body {
    font-size: 0.875rem; /* 14px */
  }

  h1 {
    font-size: 1.5rem; /* 24px */
  }

  h2 {
    font-size: 1.25rem; /* 20px */
  }

  h3 {
    font-size: 1.125rem; /* 18px */
  }

  h4 {
    font-size: 1rem; /* 16px */
  }

  p {
    font-size: 0.875rem; /* 14px */
  }

  /* Add more elements as needed */
}