.sliderContainer {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 90%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.bannerText {
  background-color: rgba(255, 255, 255, 0.884);
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: rgb(63, 63, 63);
  text-align: center;
  width: 30vw;
  padding: 2rem;
  border-radius: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: all 0.3s ease;
}

.bannerText h2 {
  margin-top: -0.5rem;
  font-size: 1.1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sliderContainer {
    height: 30vh;
  }

  .image {
    height: 50vh;
  }

  .bannerText {
    width: 60vw;
    padding: 0.9rem;
    border-radius: 1.5rem;
    bottom: 3%;
    left: 5%;
  }

  .bannerText h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .sliderContainer {
    height: 50vh;
  }

  .image {
    height: 50vh;
  }

  .bannerText {
    font-size: 0.1rem;
    width: 50vw;
    padding: 0.5rem;
    border-radius: 2rem;
    bottom: 1%;
    left: 5%;
  }

  .bannerText h2 {
    font-size: 0.7rem;
  }
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.loadingSpinner p {
  font-size: 1.25rem;
  color: #333;
}
