/* General container and slider styles */
.sliderContainer {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; 
}





/* Image styling */
.image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* Banner text container */


.bannerText h2 {
  font-size: 1.5rem;
  color: blue;
  margin: 0.5rem 0;
  overflow-wrap: break-word;
}

.bannerText p {
  font-size: 1rem;
  margin: 0.5rem 0;
  overflow-wrap: break-word;
}

.moreInfoButton {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.moreInfoButton:hover {
  background-color: green;
}

/* Responsive adjustments for larger screens */
@media (min-width: 1600px) {
  .bannerText h2 {
    font-size: 2.5rem;
  }
  .bannerText p {
    font-size: 1.5rem;
  }
  .moreInfoButton {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
}

/* Responsive adjustments for medium-large screens */
@media (min-width: 1200px) and (max-width: 1599px) {
  .bannerText h2 {
    font-size: 2rem;
  }
  .bannerText p {
    font-size: 1.2rem;
  }
}

/* Responsive adjustments for tablets */
@media (min-width: 768px) and (max-width: 1199px) {
  .image {
    height: 70vh; 
  }
  .bannerText h2 {
    font-size: 1.8rem;
  }
  .bannerText p {
    font-size: 1.1rem;
  }
  .moreInfoButton {
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
  }
}

/* Responsive adjustments for small devices */
@media (min-width: 480px) and (max-width: 767px) {
  .image {
    height: 60vh; 
  }
  .bannerText h2 {
    font-size: 1.5rem;
  }
  .bannerText p {
    font-size: 1rem;
  }
  .moreInfoButton {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}

/* Responsive adjustments for extra small devices */
@media (max-width: 479px) {
  .image {
    height: 50vh; 
  }
  .bannerText h2 {
    font-size: 1.2rem;
  }
  .bannerText p {
    font-size: 0.9rem;
  }
  .moreInfoButton {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
