.button {
    display: inline-block;
    margin-top: 0.25rem;
    padding: 0.3rem 1.2rem;
    background-color: #004997;
    color: white;
    text-decoration: none;
    border-radius: 0.9rem; 
    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: #0080ff;
}
@media (max-width: 768px) {
    .button {
        padding: 0.2rem 0.7rem; 
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .button {
        padding: 0.1rem 0.5rem;
        font-size: 0.5rem;
    }
}
