/* components/FloatingIcons.module.css */

/* WhatsApp Floating Icon */
.whatsappFloat {
  position: fixed;
  bottom: 2rem;
  left: 1.5rem;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
}

.whatsappFloat img {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}

.whatsappFloat:hover img {
  transform: scale(1.1);
}

/* Message Floating Icon */
.messageFloat {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 101;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.messageFloat img {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}

.messageFloat:hover img {
  transform: scale(1.1);
}

/* Chat Box */
.chatBox {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 5rem;
  right: 1.5rem;
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    all 0.3s ease,
    visibility 0s 0.3s;
  overflow: hidden;
  transform: scale(0.95);
}

.chatBox.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
}

/* Chat Header */
.chatHeader {
  background-color: #030c5e;
  padding: 0.8rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeChat {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Chat Body */
.chatBody {
  padding: 1rem;
  background-color: #f9f9f9;
  max-height: calc(100% - 7rem);
  overflow-y: auto;
  flex-grow: 1;
}

.chatBody p {
  margin: 0;
  padding: 0.8rem;
  border-radius: 1rem;
  overflow-wrap: break-word;
}

/* User and Receiver Messages */
.userMessage {
  background-color: lightgreen;
  color: black;
  text-align: right;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.8rem;
  max-width: 50%;
}

.receiverMessage {
  background-color: #e6e6e6;
  color: black;
  text-align: left;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.8rem;
  max-width: 50%;
}

/* Chat Footer */
.chatFooter {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatFooter input {
  flex: 1;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  margin-right: 0.8rem;
}

.sendBtn {
  flex: 0.2;
  background-color: red;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendBtn:hover {
  background-color: green;
}

/* Message Error */
.messageError {
  display: none;
  color: red;
  padding: 0.8rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 48rem) {
  .whatsappFloat {
    bottom: 1rem;
    left: 1rem;
  }

  .messageFloat {
    bottom: 1rem;
    right: 1rem;
  }

  .chatBox {
    width: 16rem;
    height: auto;
    bottom: 3.5rem;
  }

  .chatBody {
    max-height: calc(100% - 6rem);
  }
}
