.whatsappFloat {
  position: fixed;
  bottom: 2rem;
  left: 1.5rem;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
}

.whatsappFloat img {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}

.whatsappFloat:hover img {
  transform: scale(1.1);
}
@media (max-width: 48rem) {
  .whatsappFloat {
    bottom: 1rem;
    left: 1rem;
  }
}
