.topBar {
  background: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1rem; /* Adjust this size as necessary */
  text-decoration: none;
  padding: 0.5rem; /* Adjust padding as needed */
  max-width: 50px; /* Limit the icon size */
  max-height: 50px; /* Limit the icon size */
  display: inline-block; /* Ensure they stay in line */
}

.icon:hover {
  color: lightgray; /* Change color on hover */
}

.contactInfo {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
}

.contactLink {
  color: white;
  text-decoration: none;
}

.contactLink:hover {
  color: black; /* Change color on hover */
}

/* Responsive Styling */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column; /* Stack items on smaller screens */
    align-items: center; /* Center-align items */
  }

  .socialIcons {
    margin-bottom: 0.5rem; /* Margin for social icons */
  }

  .contactLink {
    font-size: 0.7rem; /* Smaller size on mobile */
  }
}
